@tailwind base;
@tailwind components;
@tailwind utilities;

.r-underline {
    @apply underline;

    &:hover {
        @apply text-indigo-300;
    }
}

.r-projects {
    &__body {
        p {
            margin-bottom: 1rem;
        }

        a {
            text-decoration: underline;
            color: rgb(107 114 118);

            &:hover {
                color: rgb(63 63 70 / var(--tw-text-opacity));
            }
        }

        code {
            padding: 0.2em 0.4em;
            margin: 0;
            font-size: 85%;
            background-color: var(--bs-gray-100);
            color: var(--bs-gray-900);
            border-radius: 6px;
        }
    }
}

.r-footer {
    @apply flex flex-col gap-12 p-6 text-center bg-gray-900 text-white;

    &__body {
        &--large {
            @apply hidden md:flex justify-evenly gap-8 flex-wrap items-center;
        }

        &--small {
            @apply flex md:hidden justify-evenly gap-8 flex-wrap items-center;
        }
    }

    &__copyright {
        @apply flex justify-between gap-8 text-xs;
    }
}

.r-svg {
    @apply rounded-full text-white leading-normal uppercase focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1;

    &--borded {
        @apply border-2 border-white;

        &:hover {
            @apply border-indigo-300 text-indigo-300;
        }
    }

    &__content {
        @apply w-3 h-full mx-auto;
    }
}
