@tailwind base;
@tailwind components;
@tailwind utilities;


.projects {
    &__body {
        p {
            margin-bottom: 1rem;
        }

        a {
            text-decoration: underline;
            color: rgb(107,114,118);
 
            &:hover {
                color: rgb(63 63 70 / var(--tw-text-opacity));
            }
        }

        code {
            padding: 0.2em 0.4em;
            margin: 0;
            font-size: 85%;
            background-color: var(--bs-gray-100);
            color: var(--bs-gray-900);
            border-radius: 6px;;
        }
    }
}